################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XCache/obj
/Sample.Core/obj
/Sample.Core/bin
/XCache/bin
/src/Sample.Bootstrapper/bin
/src/Sample.Bootstrapper/obj
/src/Sample.Caching/bin
/src/Sample.Caching/obj
/src/Sample.Contracts/bin
/src/Sample.Contracts/obj
/src/Sample.Core/bin
/src/Sample.Core/obj
/src/Sample.DataAccess
/src/Sample.DataAccess/obj
/src/Sample.Entities/bin
/src/Sample.Entities/obj
/src/Sample.Queries/bin
/src/Sample.Queries/obj
/src/Sample.Web/bin
/src/Sample.Web/obj
