################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XCache/obj
/Sample.Core/obj
/Sample.Core/bin/Debug/netstandard2.0
/XCache/bin/Debug/netstandard2.0
